@font-face {
  font-family: WorkSansRegular;
  src: url(assets/fonts/work-sans/WorkSans-Regular.otf);
}
@font-face {
  font-family: WorkSansBoldItalic;
  src: url(assets/fonts/work-sans/WorkSans-BoldItalic.otf);
}
@font-face {
  font-family: WorkSansLightItalic;
  src: url(assets/fonts/work-sans/WorkSans-LightItalic.otf);
}
@font-face {
  font-family: WorkSansLight;
  src: url(assets/fonts/work-sans/WorkSans-Light.otf);
}
@font-face {
  font-family: WorkSansBold;
  src: url(assets/fonts/work-sans/WorkSans-Bold.otf);
}
@font-face {
  font-family: WorkSansMedium;
  src: url(assets/fonts/work-sans/WorkSans-Medium.otf);
}

html,
body {
  font-size: 16px;
  font-family: WorkSansBoldItalic, sans-serif;
}
.pointjaune {
  color: rgb(255, 209, 59);
}
.pointrouge {
  color: rgb(255, 88, 85);
}
.pointvert {
  color: rgb(28, 116, 85);
}
